[submodule "auth"]
	path = auth
	url = https://github.com/MkDierz/auth.git
  branch = master
[submodule "user"]
	path = user
	url = https://github.com/MkDierz/user.git
  branch = master
[submodule "post"]
	path = post
	url = https://github.com/MkDierz/post.git
[submodule "tags"]
	path = tags
	url = git@github.com:MkDierz/tags.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MkDierz/socialsphere-frontend.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/MkDierz/SocialSphere-gateway.git
